@media all and (min-width:1200px){
	.adaptiveMenu{
		display: none;
	}
	.ourTeam{display: none;}

	.teamFaq2{
		display: none;
	}
	.btn.addLayer{
		margin-right: 10px;
	}
	
}

@media all and (max-width:1200px){
	.menu__items{
		font-size: 18px;
	}

	.hideBlock{
		display: none;
	}

	.adaptiveMenu{
		display: none;
	}
	.ourTeam{
		display: none;
	}

	.teamFaq2{
		display: none;
	}
	
	.btn.addLayer{
		margin-right: 10px;
	}

}

@media all and (max-width:1092px){
	.between{
		top: 1050px;
	}
}

@media all  and (max-width:991px){

	.groupCircels{
		height: 40px;
	}
	
	.shell {
		width: 200px;
		height: 150px;
		margin-right: 0px;
		margin-bottom: 30px;
		
	}

	.catalog{
		padding-top: 150px;}

	.menuLogo{
		margin-right: 10px;
	}

	.shell .item{
		width: 200px;
		height: 150px;
	}

	.menu__items{
		margin-right: 18px;
		font-size: 17px;

	}

	.menu__items{
		font-size: 18px;
	}


	.adaptiveMenu{
		display: none;
	}

	
	.titleOrder{
		width: 500px;
	}

	.teamFaq{
		display: block;
	}

	.teamFaq2{
		display: none;
	}
	
	.postcard{
		width: 500px;
	}

	.btn.addLayer{
		margin-right: 0px;
	}

	.between{
		top: 925px;
	}
}
@media all and (max-width:928px){
	.between{
		top: 925px;
	}
}

@media all and (max-width:890px)
{
	.hideBlock{
		display: none;
	}
	
	.content{
		z-index: 	100;
		height: 350px;
		width: 700px;
	}
	.buttonExit{
		margin-left: -100px;
	}

	.contentFaq{
		width: 600px;
		height: 1000px;
		z-index: 1001;
	}

	.imgTeam{

	height: 130px;
	width: 130px;
	margin-right: 0px;
	}

	.imgTeam img{

	padding-right:70px;
	}

	.memberTeam{
		width: 200px;
	}
	.nameMemberTeam{
		width: 150px;
	}

	.positionMember{
		width: 150px;
	}

	.buttonExit{
		margin-top: 0px;
		margin-left: -200px;
	}
	.teamFaq{
		display: block;
	}

	.teamFaq2{
		display: none;
	}

	.btn.addLayer{
		margin-right: 0px;
	}
	.catalog{
		padding-top: 150px;}
}

@media all and (max-width:844px){
	/* .between{
		top: 1150px;
	} */
	.hideBlock{
		display: none;
	}
	
}

@media all and(max-width:769px){
	.between {
    top: 1120px;
	}
}

@media all and (max-width:768px){

	.contMenu{
		min-height: 180px;
		padding-bottom: 70px;
	}

	.order{margin-top: -30px;}
	
	.between {
    top: 925px;
	}
	.menu{
		display:none;
	}

	.adaptiveMenu{
		display: block;
		margin-bottom: -60px;
	}

	.content{
		top:600px;
		height: 350px;
		width: 600px;
	}

	.titleOrder{
		width: 300px;
		font-size: 60px;
	}

	.itemInSide img{
		max-height: 250px;
	}

	.textOrder{
		font-size:17px;
	}

	.buttonExit{
		margin-top: 30px;
		margin-left: -200px;
		top: -20px;
	}
	
	.teamFaq{
		display: block;
	}

	.teamFaq2{
		display: none;
	}

	.btn.addLayer{
		margin-right: 0px;
	}
	.description{
		left: 100px;
	}

	.catalog{
		padding-top: 150px;}

	@keyframes box {
		from { left: -200px; }
		to { left: 100px; }
	 }
}

@media all and (max-width:767px){
	
	.contMenu{
		min-height: 0px;
		padding-bottom: 0px;
	}

	.between {
    top: 1120px;
	}
	.menuMain{
		padding-bottom: 100px;
	}
	.workTime{
		padding-top: 10px;
	}
	.whiteStreak{
		display: none;
	}

	.catalog{
		padding-top: 150px;
	}
}

@media all and (max-width:640px){
	.content{
		top:600px;
		height: 350px;
		width: 500px;
	}

	.buttonExit{
		margin-top: -10px;
		margin-left: -260px;
	}

	.contentFaq{
		width: 400px;
		height: 950px;
	}

	.teamFaq{
		display: none;
	}
	
	.buttonExit{
		top: 20px;
		left: 550px;
	}

	.buttonExitCart{
		margin-left: -100px;
	}

	.ourTeam{display: block;}
	
	.teamFaq{
		display: none;
	}
	.teamFaq2{
		display: none;
		width: 200px;
	}

	.postcard{
		width: 300px;
	}

	.cakeInOrder{
		width: 200px;
	}

	.btn.addLayer{
		margin-right: 0px;
	}

	.catalog{
		padding-top: 150px;}

}

@media all and (max-width:540px){
	.shell {
		margin-right: 10px;
		margin-bottom: 20px;
	}

	.text__catalog{
		line-height: 20px;
	}
	.menu{
		display:none;
	}

	.adaptiveMenu{
		display: block;
	}
	

	.content{
		top: 450px;
		height: 500px;
		width: 300px;
	}

	.titleOrder{
		margin-left: 0;
		font-size: 40px;
    width: 100px;
    line-height: 1;
	}

	.buttonExit{
		margin-top: -10px;
		margin-left: -260px;
	}

	.buttonExitCart{
		margin-left: -310px;
	}

	.textOrder{
		line-height: 1.3;
		font-weight: bold;
	}

	.teamFaq2{
		display: none;
	}

	.myTort{
		justify-content: center;
	}

	.btn.addLayer{
		margin-right: 0px;
	}
.description{
		left:2vw;
	}

	.catalog{
		padding-top: 150px;}

	@keyframes box {
		from { left: -200px; }
		to { left: 2vw; }
	 }
	.between{
		top: 1075px;
	}

}

@media all and (max-width:495px){
	
}


@media all and (max-width:450px){
	.shell {
		width: 150px;
		height: 100px;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.between {
    top: 950px;
	}

	.shell .item{
		min-width: 150px;
		height: 125px;
		margin: 0 50px;
	}

	.shell{
		margin-bottom: 30px;
		margin-right: -10px;
	}

	.text__catalog{
		font-size: 18;
	}
	
	.menu{
		display:none;
	}

	.adaptiveMenu{
		display: block;
	}


	.contentFaq{
		width: 300px;
		height: 960px;
		line-height: 1;
		z-index: 1001;
	}

	.teamFaq{
		display: none;
	}
	
	.buttonExit{
		top: 20px;
		left: 495px;
	}

	.teamFaq2{
		display: none;
	}

	.teamFaq2Members{
		padding-left: 100px;
	}

	.btn.addLayer{
		margin-right: 0px;
	}

	.buttonExitCart{
		margin-left: -250px;
	}

	.catalog{
		padding-top: 150px;}
}

@media all and (max-width:440px){
	.between {
    top: 950px;
}
	.price{
		width: 200px;		
	}
}

@media all and (max-width:334px){

	.between {
    top: 850px;
	}

	.shell {
		width: 10px;
		height: 70px;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.shell .item{
		width: 10px;
		height: 70px;
		margin-right: 50px;
	}
	.shell img{
		max-width: 200px;
	}
	.text__catalog{
		line-height: 20px;
		font-size: 17;
	}

	.menu{
		display:none;
	}

	.adaptiveMenu{
		display: block;
	}
	

	.teamFaq{
		display: none;
	}

	.teamFaq2{
		display: none;
	}

	.btn.addLayer{
		margin-right: 0px;
	}

	.catalog{
		padding-top: 150px;}
}

@media all and ( max-width:285px){
	.catalog{
		padding-top: 250px;}
		.between {
			top: 950px;
		}
}

