

* {
	padding: 0;
	margin: 0;
}

html{
	scroll-behavior: smooth;
}
body
{
		overflow-x: hidden;
    background-color: #F4E0C7;
    background: rgb(244,224,199);
    background: linear-gradient(90deg, rgba(244,224,199,1) 0%, rgba(244,224,199,1) 0%, rgba(255,186,145,1) 0%, rgba(255,186,145,1) 9%, rgba(244,224,199,1) 9%, rgba(244,224,199,1) 10%, rgba(183,190,159,1) 10%, rgba(183,190,159,1) 19%, rgba(244,224,199,1) 19%, rgba(244,224,199,1) 20%, rgba(252,196,159,1) 20%, rgba(251,201,166,1) 29%, rgba(244,224,199,1) 29%, rgba(244,224,199,1) 30%, rgba(183,190,159,1) 30%, rgba(194,196,166,1) 39%, rgba(244,224,199,1) 39%, rgba(244,224,199,1) 40%, rgba(255,186,145,1) 40%, rgba(253,192,154,1) 49%, rgba(244,224,199,1) 49%, rgba(244,224,199,1) 50%, rgba(183,190,159,1) 50%, rgba(183,190,159,1) 59%, rgba(244,224,199,1) 59%, rgba(244,224,199,1) 60%, rgba(244,224,199,1) 60%, rgba(244,224,199,1) 60%, rgba(253,192,154,1) 60%, rgba(250,202,168,1) 69%, rgba(244,224,199,1) 69%, rgba(244,224,199,1) 70%, rgba(183,190,159,1) 70%, rgba(183,190,159,1) 79%, rgba(244,224,199,1) 79%, rgba(244,224,199,1) 80%, rgba(253,192,154,1) 80%, rgba(253,192,154,1) 89%, rgba(244,224,199,1) 89%, rgba(244,224,199,1) 90%, rgba(183,190,159,1) 90%, rgba(183,190,159,1) 99%, rgba(244,224,199,1) 100%);
    font-family: 'Lato', sans-serif;
}



::selection {background: #FF6666;}

header
{		
		position: fixed; 
		width:100%; 
		z-index: 1000;
		top:0;
		font-family: 'Roboto', sans-serif;
		box-shadow: 0px 3px 60px -66px #000000 inset;
}

.menuMain{
	background-color: white;
	padding: 30px 0 20px 0;
	box-shadow: 0px 3px 60px -40px #000000 inset,
	0px 3px 60px -35px #000000;
}

.whiteStreak{
	position: relative;
	background: url('../img/pattern/whiteHeader.png') repeat-x;
	width: 100%;
	height: 50px;
	top: -40px;
}

.whiteStreakForAdaptive{
	position: relative;
	background: url('../img/pattern/whiteHeader.png') repeat-x;
	width: 100%;
	height: 100px;
	top: 30px;
}

.menu{
	height: 50px;
}

.hideBlock{
	min-width: 169.234px;
	min-height: 50px;
	margin-right: 60px;
}

.menu__items
{
    font-size: 2f0px;
    list-style-type:none;
    margin-right: 60px;
    text-align: center;
		color: black;
		height: 50px;
    
}

.menu .logo
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
/* identical to box height */

		max-width: 150px;
    color: #000000;

    margin-top: -5px;
}

.menu .logo a:before{
	width: 0;
}

.catalog{
    margin-top: 0px;
		font-family: 'Ubuntu', sans-serif;
		background-color: #fbda96;
		border: black 20px;
		padding: 175px 0px;

	background-image: linear-gradient(to right top, #fabb5c, #f9bb5c, #f9ba5b, #f8ba5b, #f8b95a, #f8b959, #f8b859, #f8b858, #f7b857, #f7b757, #f6b756, #f6b655);
}

.blockBakground{
	position: absolute;
	right: 00px;
	top: 220px;
}

.blockBackground2{
	position: absolute;
	right: 1600px;
	top: 130px;
}

.candyBackground{
	position: absolute;
	right: 250px;
	top: 250px;
	transform: rotate(30deg);
	filter: blur(0.8px);
}
.cakeBackground{
	position: absolute;
	filter: blur(0.8px);
	left: 200px;
	top: 300px;
}
.cakeBackground img{
	max-width: 400px;
}

.menu__items a
{
	text-decoration: none;
	font-size: 1em;
	position: relative;
	transition: all 0.6s;
}

.menu__items a:hover
{
	    
}

.menu__items a:before {
	content: "";
	width: 0;
	height: 0.05em;
	position: absolute;
	bottom: 0;
	left: 0;
	background: red;
	transition: all 0.3s;
}

.number a:before{
	content: "";
	width: 100%;
	height: 0.05em;
	position: absolute;
	bottom: 0;
	left: 0;
	background: black;
	transition: all 0.3s;
}

.number a:hover:before{
	
	background: white;
	transition: all 0.3s;
}


.menu__items a:hover:before{
	
				width: 100%;
				left: 0;
				background: black;
		
}

.menu__items .logo {
	text-decoration: none;
}



.menu__items a
{
    transition: 0.3s;
}

.menuLogo{
		font-size: 20px;
    list-style-type:none;
    margin-right: 60px;
    text-align: center;
    color: black;
		font-family: Roboto;
/* identical to box height */

		max-width: 180px;
    color: #000000;

		margin-top: -20px;

}


.menuLogo{

  transition: all ease 1s;
}

.catalog .tiitle__catalog{
    font-family: Ubuntu;
    font-style: normal;
    font-size: 40px;
    line-height: 36px;
    margin-bottom: 15px;
		color: #000000;  
		animation-delay: 2000s 10ms; 
		animation: whiteText 5s;          
}


.text__catalog{
    font-family: Ubuntu;
		font-style: italic;
		font-weight: 300;
		font-size: 22px;
		line-height: 29px;
		text-align: left;
		margin: 0px 0 60px 0;   

		color: rgba(58, 48, 48, 0.8);
}

.img__logo{
  transition: all ease 1s;
}


.img__logo:hover{
	animation: cake 1s ease-in-out ;
	transform: rotate(0deg);
}

@keyframes whiteText{
	50%{
		color: white;
	}
}

@keyframes cake{
	30%{
		transform: rotate(-20deg);
	}

	70%{
		transform: rotate(20deg);
	}
}

.shell{

	transition: 0.4s;
}

.shell img{
	min-height: 250px;
	max-width: 350px;
	transition: .4s;
	margin-right: 50px;
	margin-top: -20px;
}

.item{
    width: 350px;
    height: 200px;
    background: #C4C4C4;
    border-radius: 60px;
    box-shadow: 0px 0px 20px -10px black;
    list-style-type:none;
		overflow: hidden;
		margin-bottom: 50px;
		transition: 0.4s;
		cursor: pointer;
		border: 5px white solid;
}

.item:hover{

	box-shadow: 0px 0px 20px -5px black;
}

.catalog_imgs{

    list-style-type:none;
}

.shell img:hover{
	min-height: 270px;
	max-width: 370px;
	transition: .4s;
}


.calculater{
	overflow: hidden;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	padding-bottom: 50px;
	color: #000000;
	background-color: #95d7ed ;
	background: radial-gradient(at top, #74ebd5, #ACB6E5);
	padding-top: 175px;
	padding-bottom: 175px;
	
}

.tortsClassic{
	border-radius: 20px;
	border: 1px white solid;
	padding: 50px;
	-webkit-box-shadow: 0px 10px 22px 0px rgba(19,50,207,0.41);
	-moz-box-shadow: 0px 10px 22px 0px rgba(19,50,207,0.41);
	box-shadow: 0px 10px 22px 0px rgba(19,50,207,0.41);
}
.tortsClassic .btn-primary{
	margin-left: 12px;
}

.itemsTort{
	margin: 0;
}

.text_calculater{
	font-style: italic;
font-weight: 300;
font-size: 20px;
line-height: 29px;
text-align: center;
margin: 0px 0 60px 0;
}

header a{
text-decoration: none;
color: black;
}
header a:hover{
	text-decoration: none;
	color: black;
}



.adaptiveMenu .logo{
	font-size: 40px;
	z-index: 10;
}

.contMenu{
	z-index: 10;
}

.adaptiveMenu .menu__items{
	font-size: 30px;
}

.material-icons.md-18 { 
	font-size: 38px;
	transition: 0.4s;
}



.layer-biscuit{
	background-image: url("../img/biscuit.jpg");
}

.layer-curd{
	background: url("../img/curd.jpg");
}

.layer-beze{
	background: url("../img/beze.jpg");
}

.layer-jele{
	background: url("../img/jele.jpg");
}

.layer-basic{
	height: 30px;
	background: url("../img/basic.png");
}

.price{
	margin-top: 70px;
	font-size: 20px;
	display: inline-block;
	background: #EFD474;
	height: 38px;

}

#app-4{
	padding: 30px;
	padding-top: 0;
	margin-top: -50px;
	margin-bottom: 40px;
}

.pay{
	max-height: 40px;
	border-radius: 60px;
	
}

.picter{
	margin-top: 20px;
	display: flex;
}

/* .table-bordered .title__table{
	background-color: #C4C4C4;
	border-spacing: 0px;
	border-collapse: 0;
	border-radius: 40px;
} */
.attention {
	padding-top: 30px;
}

/* стили таблицы начало */

.simple-little-table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;
	border-collapse:separate;
 
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
 
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
 
.simple-little-table th {
	font-weight:bold;
	line-height: 1;
	padding:10px 15px 12px 15px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
 
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.simple-little-table th:first-child{
	text-align: left;
	padding-left:20px;
}
.simple-little-table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.simple-little-table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.simple-little-table tr{
	text-align: center;
	padding-left:20px;
}
.simple-little-table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.simple-little-table tr td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
 
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.simple-little-table tr:nth-child(even) td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.simple-little-table tr:last-child td{
	border-bottom:0;
}
.simple-little-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.simple-little-table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.simple-little-table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}
 
.simple-little-table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.simple-little-table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.simple-little-table a:active,
.simple-little-table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}


/* стили таблицы конец*/


.table-bordered td, .table-bordered th {
	font-size: 20;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	border: 1px solid #C4C4C4;
}

.table .center__td{
	background-color: #A1A1A1;
}

.btn{
	border-radius: 0;
}



.cake{
	overflow: hidden;
	margin-bottom: 20px;
	min-width: 300px;
	min-height: 40px;
	background: #E16868;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.cakeInOrder{
	margin-top: 40px;
}

.attention{
	font-size: 17px;
	color: #EC5F5F;
}

.cakeForm{
	width: 238px;
	height: 238px;
	overflow: hidden;
	background-color: orange;
	margin-bottom: 10px;
}
.cakeForm-circle{
	overflow: hidden;
	background-color: orange;
	margin-bottom: 10px;
	border-radius: 50%;
}

.cakeForm-square{
	overflow: hidden;
	background-color: orange;
	margin-bottom: 10px;
	border-radius: 10%;
}

.cake-circle{
	background-color: orange;
	border-radius: 50%;
}
.cake-squired{
	background-color: orange;
	border-radius: 10%;
}

.cakeUp{
	background-position: 36% 50%;
	background-size: 450px;
	min-width: 150px;
	min-height: 150px;
	max-width: 150px;
	min-height: 150px;
	box-shadow: 5px 8px 20px -1px black;
	border: 10px solid white;
  animation: background 4s infinite alternate;
}

@keyframes background {
  50% {
    background: darkviolet;
    box-shadow: 0 -140px 70px -120px mediumorchid inset,
                0 -210px 70px -120px teal inset,
                0 -280px 70px -120px plum inset;
  }
}

.formCakeTitle{
	color: white;
	text-shadow: 1px 2px 10px black;
	padding: 0;
}

.formCake{
	margin-top: 30px;
	margin-right: 0;
	margin-left: 0;
}

.sweetness{
	margin-top: -30px;
}

.form-table{
	z-index: 100;
}

.description{
	height: 100%;
	left: 400;
	left: 20px;
	z-index: 100;
	position: absolute;
	font-size:15px;
	background-color: white;
	border-radius: 10px;
	max-height: 250px;
	max-width: 220px;
	overflow: hidden;
}

@keyframes box {
	from { left: -200px; }
	to { left: 20px; }
 }

.btnDescription{
	z-index:101;
	position: absolute;
	top: 350px;
	right: 80px;
}

.itemTortBlock{
	overflow: hidden;
	animation: transition;
}

.content{
	position: absolute;
	top: 400px;
	z-index: 	100;
	height: 400px;
	width: 800px;
	border-radius: 50px;
	box-shadow: 5px 8px 20px  -5px black;
	background-image: url("../img/backgroundLeb1.png");
	overflow: hidden;
	transition: 0.4s;
}

.content hr{
	margin-top: 0;
}

.whiteBlock{
	position: absolute;
	background-color: white;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: -100;
}


.itemInSide{
		margin-top: 30px;
		margin-left: 30px;	
    width: 150px;
    height: 150px;
    background: #C4C4C4;
    border-radius: 360px;
    list-style-type:none;
		overflow: hidden;
		margin-bottom: 10px;

}

.itemInSide img{
	max-height: 250px;
}

.titleOrder{
	margin-top: 50px;
	font-family: 'Bebas Neue', cursive;
	font-size: 70px;
	line-height: 70px;
	margin-left: 20px;
	margin-bottom: 40px;
}

.textOrder{
	font-size: 20px;
	padding: 0 50px;

}

.buttonExit{
	transition: 0.4s;
	position: absolute;
	top: 20px;
	rotate: 30px;
	left: 700px;
	font-size: 30px;
}

.buttonExit i:hover{
	font-size: 25px;
	margin-left: 5px;
	transition: 0.4s;
	
}

.buttonExit img{
	top: 400px;
	max-width: 40px;
}

.backgroundColor{
	background-color: rgb(49, 43, 38);
	opacity: 0.6;
	width: 100%;
	position: absolute;
	z-index: -100;
	height: 100%;
}
.contentFaq{
	overflow: hidden;
	z-index:1001;
	height: 900px;
	width: 800px;
	background-color: teal;
	background: url("../img/pattern/gusis.png");
	position: absolute;
	z-index: 1;
	border-radius: 50px;
	top: 125px;
	color: white;
}

.textFaq{
	font-size: 20px;
	font-weight: bold;
	padding:20px;
	font-family: 'Playfair Display', serif;
}

hr {
	border: none; /* Убираем границу для браузера Firefox */
	background-color: red; /* Цвет линии для браузера Firefox и Opera */
	height: 2px; /* Толщина линии */

 }

 .buttonExit{
	transition: 0.4s;
	position: absolute;
	top: 20px;
	rotate: 30px;
	left: 700px;
	font-size: 30px;
}

.buttonExit i:hover{
	font-size: 25px;
	margin-left: 5px;
	transition: 0.4s;
	
}

.buttonExitFaq{

	top: 10px;
}

.titleFaq{
	font-family: 'Playfair Display', serif;
	font-family: 'Montserrat', sans-serif;
}
.imgTeam{
	height: 170px;
	width: 170px;
	border-radius: 100%;
	background-color: orange;
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 25px;
	overflow: hidden;
	-webkit-box-shadow: 58px 52px 28px -48px rgba(0,0,0,0.75);
	-moz-box-shadow: 58px 52px 28px -48px rgba(0,0,0,0.75);
	box-shadow: 58px 52px 28px -48px rgba(0,0,0,0.75);
}

.imgTeam img{
	max-width: 270px;
}

.nameMemberTeam{
	
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	line-height: 29px;
	text-align: center;
}

.firstMember{margin-top: 30px;}

.positionMember{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 29px;
	text-align: center;
	width: 250px;
}

.endFaq{
	margin-top: 20px;
}

.chooseOptions{
	margin: 10px 0;
}

.ourTeam{
	border-radius: 50px;
	width:120px ;
	background-color: blue;
	border: 0px;
	color: white;
	padding: 5px;
}



.teamFaq2Members{
	padding-left: 180px;
}

.tortsClassic{
	margin-top: 70px;
}

.tortsClassic .itemTort{
	min-width: 200px;
	min-height: 400px;
	width: 250px;
	margin-right: 10px;border-radius: 10px;
	background-color: #D07B48;
	margin-bottom: 30px;
	overflow: hidden;
}

 .imgTort{
	height: 250px;
	width: 250px;
	background-color: white		;
	border-radius: 10px;
	overflow: hidden;
}



.item1{
	margin: 0 10px ;
}

.priceTort{
	margin-top: 0;
}

.chooseForm{
	padding: 0;
}

.titleTort{
	color: white;
	font-size: 17px;
}

.priceTort{
	margin-top: 0;
}

.postcard {
  margin: 50px auto 0;
  padding: 20px;
  background: #fffdee;
  border: 10px solid transparent;
  border-image: 10 repeating-linear-gradient(135deg, #C42061, #C42061 10px, transparent 10px, transparent 20px, #FBCFDF 20px, #FBCFDF 30px,transparent 30px, transparent 40px);
  font-family: 'Playfair Display';
  color: #605756;
}
.form-row {margin-bottom: 15px;}
.form-row input[type="text"], 
.form-row input[type="email"], 
.form-row input[type="tel"], 
.form-row textarea {
  width: 100%;
  padding: 0 10px;
  line-height: 35px;
  border-width: 0;
  outline: none;
  background: transparent url(https://html5book.ru/wp-content/uploads/2016/12/bg-form.png) bottom left repeat-x;
  background-size: 8px 35px;
  font-family: 'Playfair Display';
}
.form-row textarea {
  background-attachment: local;
  background-repeat: repeat;
  resize: none;
}
.form-row input[type="submit"] {
  padding: 10px 20px;
  margin-top: 10px;
  background: #FF3900;
  border-width: 0;
  cursor: pointer; 
  outline: none;
  font-family: 'Playfair Display';
  font-size: 16px;
  letter-spacing: 1px;
  color: #fffdee;
  text-transform: uppercase;
  transition: 1s cubic-bezier(.165, .84, .44, 1);
}
.form-row input[type=submit]:hover {background: #C42061;}

.title{
	font-size: 20px;
	font-weight: bold;
}

.feedBack{
	padding-top: 150px;
	padding-bottom: 150px;
	background-image: linear-gradient(to left, #fabb5c, #eead5a, #e1a057, #d49355, #c68652, #c58351, #c47f50, #c37c4f, #cf8050, #dc8552, #e98953, #f68d55);
}

.nameTort{
	font-size: 20px;
	font-weight: 900;
}

.customParametrsTort{
	margin: 20px 0;
}

.customNameTort{
	padding: 0;
}


.descriptionShow-enter-active {
	animation: box 1s ease-in-out ;
}

.descriptionShow-leave-active{
	animation:box reverse 1s;
}

.between{
	position: absolute;
	top: 1050px;
	min-width: 100%;
	min-height: 97px;
	background-image: url("../img/background/beetwen.png");
}

.yellowLine{
	min-width: 100%;
	min-height: 20px;
	position: relative;
	z-index: 10;
	background-image: url('../img/background/yellowLine.png');
	filter: blur(7px);
	background-color: #f0ae4b;
	margin-top: -13px;
	
}

.blueLine{
	min-width: 100%;
	min-height: 60px;
	position: relative;
	z-index: 10;
	background-image: url('../img/background/blueLine.png');
	top: 65px;
}

.stepsForCustomTort{
	font-family: 'Oswald', sans-serif;
	font-weight: "Semi-Bold";
	text-align: center;
	
}


.iconNumber{
	margin: 50px 0 35px 0;
	color: orangered;
	border-radius: 50%;
	min-height: 100px;
	min-width: 100px;
	background: white;
	box-shadow: 0px 3px 60px -66px #000000 inset;
	-webkit-box-shadow: 0px 0px 89px 10px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 89px 10px rgba(255,255,255,1);
	box-shadow: 0px 0px 89px 10px rgba(255,255,255,1);
	z-index: 20;
}

.backNumber1{
	position: relative;
	height: 50px;
	width: 50px;
	background: grey;
	border-radius: 50%;
	top: 30px;
	left: -130px;
	right: 130px;
	transition: 1s;

}

.iconNumber3{
	position: relative;
	color: orangered;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-bottom: 10px;
	transition: 1s;
	background: white;
	box-shadow: 0px 3px 60px -66px #000000 inset;
	-webkit-box-shadow: 0px 0px 89px 10px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 89px 10px rgba(255,255,255,1);
	box-shadow: 0px 0px 89px 10px rgba(255,255,255,1);
	z-index: 21;
}

.iconNumber2{
	top: -55px;
	right: 35px;
	position: relative;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-bottom: 10px;
	transition: 1s;
	background: #C0C0C0;
	box-shadow: 0px 3px 60px -66px #000000 inset;
	-webkit-box-shadow: 0px 0px 89px 10px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 89px 10px rgba(255,255,255,1);
	box-shadow: 0px 0px 89px 10px rgba(255,255,255,1);
	z-index: 20;
	transition: 1s;
	cursor: pointer;
}
.iconNumber2:hover{
	color: white;
	transition: 1s;
	height: 50px;
	width: 50px;
}


.iconNumber1{
	top: -100px;
	right: 60px;
	position: relative;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-bottom: 10px;
	transition: 1s;
	background: #696969;
	box-shadow: 0px 3px 60px -66px #000000 inset;
	-webkit-box-shadow: 0px 0px 89px 10px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 89px 10px rgba(255,255,255,1);
	box-shadow: 0px 0px 89px 10px rgba(255,255,255,1);
	z-index: 19;
	transition: 1s;
	cursor: pointer;
}
.iconNumber1:hover{
	color: white;
	transition: 1s;
	height: 40px;
	width: 40px;
}

.groupCircels{
	height: 100px;
}

.additionalCitrcle{
	height: 100px;
	width: 100px;
	cursor: pointer;
	position: relative;
	width: 0;
}


.backNumber1:hover{
	box-shadow: 0px 3px 60px -66px #000000 inset;
	-webkit-box-shadow: 0px 0px 89px 10px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 89px 10px rgba(255,255,255,1);
	box-shadow: 0px 0px 89px 10px rgba(255,255,255,1);
	height: 60px;
	width: 60px;
	color: white;
	transition: 1s;
}


.buttonNext{
	margin: 80px 0 20px 0;
	border-radius: 50px;
	width: 150px;
	height: 40px;
}

.beetttwenBlock{
	background-image: url("../img/pattern/candyPattern.jpg");
	min-width: 50px;
	min-height: 50px;
	filter: blur(1px);
}


#statusLamp{
	min-width: 5px;
	max-width: 5px;
	min-height: 5px;
	max-height: 5px;
	background: green;
	filter: blur(0.8px);
}

#textTest{
	font-size: 18px;
	width: 100px;
	margin: 0;
}

.workTime{
	margin-top: -20px;
}

#status{
	z-index: 100;
	position: relative;
	align-items: center;
  display: flex;
}
