<!doctype html>
 
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="CaeliiApitii">
  <meta name="author" content="Vadim Vdovichenko">
  <title>CaeliiApitii</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu|Roboto&display=swap|Playfair+Display&display=swap|
	Montserrat|Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/media.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
 
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
 
<body>
		<!--

		<div v-for="(layer, i) in layers" class="col-lg-6">
		</div>
	-->
	


	<div class="app-4">
		<div id="app-4">
			
			
			<!-- FAQ begin -->
			<section class="faq d-flex justify-content-center" >
				
					<div class="contentFaq"  v-if="faq" >
							<div class="backgroundColor">
	
								</div>

								

								<div class="buttonExit buttonExitFaq col-lg-12 pull-right " v-if="faq" v-on:click="faq= !faq">
										<i v-if=""class="fa fa-times" aria-hidden="true"></i>
								</div>
							<div class="titleFaq text-center">
								<h1>CaeliiApitii</h1>
								<hr></hr>
							</div>

							<div class="buttonOurTeam d-flex justify-content-center" >
								<button class="ourTeam" v-on:click="showTeamHideText()" v-if="displayButtonShowTeam">
										Наша команда
									</button>
									<button class="ourTeam" v-on:click="showTextHideTeam()" v-if="displayButtonShowText">
										Показать описание
									</button>
								</div>


							<div class="textFaq" v-if="textFaq" :style="{display:displayFaqText}">
									<p>Кондитерская CaeliiApitii основана в 1995 году в Москве.</p>

											<p>	Основные направления — промышленный дизайн, городской дизайн, графический дизайн, дизайн среды, системы навигации, создание сайтов, проектирование интерфейсов, создание шрифтов, дизайн паттернов, архитектура и книгоиздание.</p>
									
													<p>	Мы существуем так, как нам нравится и как считаем правильным. Мы принципиально не работаем с частными лицами, политическими и религиозными организациями, а также с теми, чьи убеждения противоречат нашим. Наша работа заключается в том, чтобы найти наиболее эффективный, удобный и красивый способ решения задачи.</p>
									
															<p>Сегодня в студии 70 дизайнеров, в портфолио 4138 проектов.</p>
							</div>
<!-- Team div для мобилки и кнопки-->
							<div class="teamFaq2 text-center col justify-content-center" v-if="teamFaq" :style="{display:displayFaqTeam}">
								
								<div class="teamFaq2Members d-flex justify-content-center">

									<div class="membersTeam firstMember d-flex">
									<div class="row">
										<div class=" memberTeam justify-content-center col">
											<div class="imgTeam item1">
												<img src="img/team/teamVoicer.jpg" alt="">
											</div>
											<div class="descriptionMemberTeam text">
												<div class="positionMember">Продавец кондитерской</div>
												<div class="nameMemberTeam">
													Валерий Меладзе
												</div>
											</div>
										</div>

										<div class=" memberTeam justify-content-center col">
												<div class="imgTeam">
														<img src="img/team/teamManager.jpg" alt="">
												</div>
												<div class="descriptionMemberTeam text">
													<div class="positionMember">Директор кондитерской</div>
													<div class="nameMemberTeam">
															Юрий Антонов
													</div>
												</div>
											</div>

											<div class=" memberTeam justify-content-center col  justify-content-center">
													<div class="imgTeam">
															<img src="img/team/teamPair.jpg" alt="">
													</div>
													
													<div class="descriptionMemberTeam text">
														<div class="positionMember">Повар кондитерской</div>
														<div class="nameMemberTeam">
															Антон Шипулин
														</div>
													</div>
												</div>

									</div>
									</div>
									
								</div>
							</div>

							<!-- End team for mobile-->


							<!--begin team for Desktop-->
							<div class="teamFaq text-center" v-if="teamFaq" >
								<div class="titleFaq">
										<h1>Наша команда</h1>
								</div>
								<div class=" d-flex justify-content-center">

									<div class="membersTeam d-flex">

										<div class=" memberTeam firstMember justify-content-center">
											<div class="imgTeam item1">
												<img src="img/team/teamVoicer.jpg" alt="">
											</div>
											<div class="descriptionMemberTeam text">
												<div class="positionMember">Продавец кондитерской</div>
												<div class="nameMemberTeam">
													Валерий Меладзе
												</div>
											</div>
										</div>

										<div class=" memberTeam justify-content-center">
												<div class="imgTeam">
														<img src="img/team/teamManager.jpg" alt="">
												</div>
												<div class="descriptionMemberTeam text">
													<div class="positionMember">Директор кондитерской</div>
													<div class="nameMemberTeam">
															Юрий Антонов
													</div>
												</div>
											</div>

											<div class=" memberTeam justify-content-center">
													<div class="imgTeam">
															<img src="img/team/teamPair.jpg" alt="">
													</div>
													<div class="descriptionMemberTeam text">
														<div class="positionMember">Повар кондитерской</div>
														<div class="nameMemberTeam">
															Антон Шипулин
														</div>
													</div>
												</div>


									</div>
									
								</div>
							</div>
							<!--end team for Desktop-->

							<hr></hr>
							<div class="endFaq justify-content-center d-flex">
								<h4>CaeliiApitii</h4>
								
							</div>
						</div>
					</div>
				</section>
				<!-- FAQ end -->

			<!-- Описание элементов каталога begin -->
			<section class="description2 d-flex justify-content-center" >
				
				<div class="content "  v-if="content" >
						<div class="whiteBlock">

							</div>
						<div class="buttonExit  buttonExitCart col-lg-12 pull-right " v-if="content" v-on:click="content= !content">
								<i class="fa fa-times" aria-hidden="true"></i>
						</div>
					<div class="row">
						<div class="itemInSide" >
								<img src="img/image 1.png" alt="">
						</div>

						<div class="titleOrder col-lg-8">
							Cake Pankey
							<hr >
						</div>
						<div class="textOrder col-lg 6">
								
										Lorem ipsum dolor, sit amet consectetur 
										adipisicing elit. Eveniet laudantium enim, 
										esse nobis in amet nisi consequuntur quisquam vero sint!
										Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere harum iure voluptates 
										cupiditate ut qui vero labore aperiam delectus, iste eius, ullam neque dolor, vitae non .
									
						</div>

					</div>
				</div>
			</section>
			<!-- Описание элементов каталога end -->

    <header id="header" class="header" >
            <div class="containerss">
                    <div class="row menuMain">
                        <div class="menu col ">
                            <ul class="menu d-flex justify-content-center " >
																
															<div class="hideBlock">
																
															</div>
															
                                <li class="menu__items " >
																		<a href="#" class="mennu__item" v-on:click="faq =!faq">
																				О нас
																		</a>
														</li>
                                <li class="menu__items">
                                        <a href="#catalog" class="mennu__item">
                                            Каталог
                                        </a>
                                </li>
                                <li class="menuLogo">
                                            <a href="#" class="mennu__item">
                                                CaeliiApitii
                                                <img src="img/cake.png" alt="logo cake" class="img__logo">
																						</a>			
                                </li>
                                <li class="menu__items">
                                        <a href="#calculater" class="mennu__item">
                                            Калькулятор
                                        </a>
																</li>
																<li class="menu__items number workTime">
																		<a href="#" class="mennu__item ">
																				+7 986 485 47 12
																		</a>
																		<div id="status" class="d-flex align-items-center">
																			<div id="statusLamp">
																				
																			</div>
																			<h1 id="textTest">Статус работы</h1>(8-21:00)
																				
																		</div>		
																</li>
                            </ul>
												</div>
												
												<div class="adaptiveMenu col">
														<div class="app">
															<div class="container contMenu">
															<div class="row justify-content-center">
																<a href="#" class="menu__item logo">
																		CaeliiApitii
																		<img src="img/cake.png" alt="logo cake" class="img__logo">
																</a>
																<nav>
																</div>
																<div class="row justify-content-center">	
																	<transition name="fade" mode="out-in">
																			<a href="#" class="material-icons menu md-18" v-if="!show" @click="show = !show"> menu</a>
																			<i class="material-icons clear" v-else  @click="show = !show">clear</i>
																	</transition>
																	<transition name="fade">
																		<ul v-if="show">
																				<li class="menu__items" >
																						<a href="#" class="mennu__item" v-on:click="faq =!faq">
																								О нас
																						</a>
																		</li>
																				<li class="menu__items">
																								<a href="#catalog" class="mennu__item">
																										Каталог
																								</a>
																				</li>
																				<li class="menu__items">
																								<a href="#calculater" class="mennu__item">
																										Калькулятор
																								</a>
																				</li>
																				<li class="menu__items number workTime">
																					<a href="#" class="mennu__item ">
																							+7 986 485 47 12
																					</a>
																					<div id="status" class="d-flex align-items-center">
																						<div id="statusLamp">
																							
																						</div>
																						<h1 id="textTest">Статус работы</h1>(8-21:00)
																							
																					</div>		
																			</li>
																		</ul>
																	</transition>
																</nav>
															</div>
															</div>
															</div>
												

                    </div>
                </div>
								<div class="whiteStreak"></div>
    </header>
    <section class="catalog" id="catalog">
			<!--<div class="blockBakground">
				<img src="img/background/Group 1.png" alt="">
			</div>
			<div class="blockBackground2">
				<img src="img/background/Group 2.png" alt="">
			</div>-->
        <div class="container">
            <div class="row ">
                <div class="tiitle__catalog text-center col-lg-12">
									<p>
										КАТАЛОГ
									</p>	
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="text__catalog  col-lg-6">
                        Сайт рыбатекст поможет дизайнеру, 
                        вебмастеру сгенерировать несколько абзацев более менее
                        вебмастеру сгенерировать несколько абзацев 
                </div>
            </div>

        <div class="row justify-content-center">
					<div class="shell col-lg-4 d-flex justify-content-center col-md-4 col-5">
                    <div class="item" v-on:click="content = !content">
                        <img src="img/image 1.png" alt="">
                    </div>
									</div>
						<div class="shell col-lg-4 d-flex justify-content-center col-md-4 col-5">
                        <div class="item" v-on:click="content = !content">
                            <img src="img/image 1.png" alt="">
                        </div>
											</div>
                
					<div class="shell col-lg-4 d-flex justify-content-center col-md-4 col-5">
                        <div class="item" v-on:click="content = !content">
                                <img src="img/image 1.png" alt="">
                            </div>
													</div>
                
					<div class="shell col-lg-4 d-flex justify-content-center col-md-4 col-5">
                        <div class="item" v-on:click="content = !content">
                            <img src="img/image 1.png" alt="">
                        </div>
											</div>
                    
					<div class="shell col-lg-4 d-flex justify-content-center col-md-4 col-5">
                            <div class="item" v-on:click="content = !content">
                                <img src="img/image 1.png" alt="">
                            </div>
													</div>
                        
					<div class="shell col-lg-4 d-flex justify-content-center col-md-4 col-5">
                    <div class="item" v-on:click="content = !content">
                        <img src="img/image 1.png" alt="">
										</div>
									</div>
        </div>

        
        
				</div>
				

				
    </section>


		<section class="between">
			<div class="yellowLine">

			</div>
			<div class="blueLine"></div>
			
			<!-- <img src="img/background/beetwen.png" alt=""> -->
			</section>

 <!--Начало калькулятора-->
    <section class="calculater" id="calculater">
			<div class="container "> 
        <div class="row ">
					<div class="text-center col-lg-12">
						<h1 >
							КАЛЬКУЛЯТОР
						</h1>
					</div>
				</div>
						<div class="col-lg-12 text-center">
											<h2 class="text_calculater">
													Создайте свой собственный торт 
													  и рассчитайте его стоимость
											</h2>
						</div>

						<!-- <div class="chooseView d-flex justify-content-center">
							<div class="row">

								
							<div class="titleChooseView text-center col-lg-12">
								<h2>Выберите вид продукции</h2>
							</div>
							<select name="" id="orderChoose" class="form-control chooseOptions col-lg-12"  v-model="selectedProduct">
								<option :value="product.label" v-for="(product, name) in products">{{product.label}}</option>
							</select>
							<select name="" id="orderTort" class="form-control chooseOptions col-lg-12" v-if="selectedProduct=='Торт' " v-model="selectedViewTort">
								<option :value="view.label" v-for="(view, name) in viewsTort">{{view.label}}</option>
							</select>

							</div>
						</div> -->

						<div class="tortsClassic d-flex row  justify-content-center"  v-if="selectedProduct='Торт' ">

							<div class="itemsTort d-flex row  justify-content-center"  >
							
							<div class="itemTortBlock item1 col-lg-3 col-md-5 d-flex justify-content-center" v-if="selectedViewTort=='Классический'" v-for="(product ,name, item) in viewsTort.classic.products">
								<transition name="descriptionShow">
									<div class="description" v-if="product.number">{{product.description}}</div>
								</transition>
									<div class="itemTort justify-content-center text-center" >
										<div class="imgTort" >
											<img :src="product.image" alt="">
										</div>
										<div class="cakeInformation">
											<div class="titleTort">
												Торт {{product.label}}
											</div>
											<div class="price priceTort" >
													{{product.price}}Руб
												</div>
											<a href="#feedBack">	<button class="btn btn-primary" v-on:click="toOrder(product.price, product.label, product.image)">Выбрать</button></a>
											<button class="btn btn-primary " v-on:click="product.number = !product.number">Описание</button>
										</div>	
										</div>
								</div>

							

							
								<div class="itemTortBlock item1 col-lg-3 col-md-5 d-flex justify-content-center" v-if="selectedViewTort=='ссср'" v-for="product in viewsTort.cccr.products">
									<div class="description" v-if="product.number">{{product.description}}</div>
										<div class="itemTort justify-content-center text-center" >
											<div class="imgTort">
													<img :src="product.image" alt="">
											</div>
											<div class="titleTort">
												Торт {{product.label}}
											</div>
											<div class="price priceTort" >
													{{product.price}}Руб
												</div>
												<a href="#feedBack">	<button class="btn btn-primary" v-on:click="toOrder(product.price, product.label, product.image)">Выбрать</button></a>
												<button class="btn btn-primary " v-on:click="product.number = !product.number">Описание</button>
											</div>
										
									</div>
	
								
									
											<div class="itemTortBlock item1 col-lg-3 col-md-5 d-flex justify-content-center" v-if="selectedViewTort=='На Бис'" v-for="product in viewsTort.nabis.products">

										<div class="description" v-if="product.number">{{product.description}}</div>
											<div class="itemTort justify-content-center text-center" >
												<div class="imgTort">
														<img :src="product.image" alt="">
												</div>
												<div class="titleTort">
													Торт {{product.label}}
												</div>
												<div class="price priceTort" >
														{{product.price}}Руб
													</div>
													<a href="#feedBack">	<button class="btn btn-primary" v-on:click="toOrder(product.price, product.label, product.image)">Выбрать</button></a>
													<button class="btn btn-primary " v-on:click="product.number = !product.number">Описание</button>
												</div>
											
										</div>
		
									</div>
							<div class="stepsForCustomTort d-flex justify-content-center">
								<div class="stepOne row  col-lg-8 d-flex justify-content-center" v-if="customNameTort=='' ">

									<h1>Создайте свой собственный торт за 3 простых шага</h1>

									<div class="iconNumber justify-content-center align-items-center d-flex">
										<h2>1</h2>
									</div>

									<div class="customNameTort col-lg-12" >
											<h4>Введите название вашего торта</h4>
											<input type="text" class="form-control" v-model="inputTextName">
										</div>

										<div class="button">
											<button class="btn btn-warning buttonNext"  v-on:click="nameTort(inputTextName)"><h4>Далее</h4></button>
										</div>

								</div>

								<div class="stepTwo row  col-lg-8 d-flex justify-content-center" v-if="customNameTort!='' && formWasSelected==false">

										<h2 class="col-lg-12">Выберите форму вашего торта</h2>
	
										<div class="circleNumber col-lg-12 row justify-content-center d-flex">

											<div class="iconNumber justify-content-center align-items-center d-flex">
												<h2 class="">2</h2>
											</div>

											<div class="additionalCitrcle">
												<div class="backNumber1 justify-content-center align-items-center d-flex" v-on:click="alertText()">
														<h2 class="">1</h2>
													</div>
											</div>		

										</div>	

										<div class="inputForm justify-content-center col-lg-12 row">
												<select class="form-control row col-lg-6" v-model="selectedForm">	
															<option :value="name" v-for="(cakeForm, name) in cakeForms" >
																{{cakeForm}}
															</option>
													</select>
										</div>		

											<div class="formCake  col-lg-12 row justify-content-center">
													<div class="row  ">
															
															<div class="cakeFigure ">
																<div class="cakeUp " :class="'cake-' + selectedForm">
																	
																</div>
															</div>

															

													</div>
												</div>
	
											<div class="button">
												<button class="btn btn-warning buttonNext"  v-on:click="chooseCakeForm()"><h4>Далее</h4></button>
											</div>
	
									</div>

							</div>

						<div class="row myTort col-md-12 stepsForCustomTort" v-if="selectedViewTort=='Сделать свой!' && customNameTort!='' && formWasSelected ==true" > 
								
								 <h2 class="col-lg-12">Выберите количество слоев и начинку</h2>

								 <div class="groupCircels d-flex justify-content-center row col-lg-12">
									<div class="circleNumber3 col-lg-12 row justify-content-center d-flex">

											<div class="iconNumber3 justify-content-center align-items-center d-flex">
												<h2 class="">3</h2>
											</div>		

										</div>
										<div class="circleNumber2 col-lg-12 row justify-content-center d-flex">

												<div  class="iconNumber2 justify-content-center align-items-center d-flex" v-on:click="chooseBlock2()">
													<h3 class="">2</h3>
												</div>		
	
											</div>
											<div class="circleNumber1 col-lg-12 row justify-content-center d-flex">

													<div class="iconNumber1 justify-content-center align-items-center d-flex" v-on:click="chooseBlock1()">
														<h4 class="">1</h4>
													</div>		
		
												</div>

								</div>
									

									
									<div class="row " v-if="selectedProduct=='Торт' ">

										

										<div class="form-table justify-content-center d-flex col-lg-12" >	
					
												
									<div class="row col-lg-12  justify-content-center">

											<div class="picter justify-content-center align-items-center col-lg-5 ">

													
													
													<div class="cake " id="cake" >
	
													<!--<div class="cakeCirlce" :class="'cake-' + selectedForm"></div>-->
	
														<div class="layer" :class="'layer-' + layer.type" 
														:style="{height: layer.height*4 + 'px'}		
														" v-for="(layer, i) in layers"
														:title="layer.type">
	
														</div>
														<div class="layer-basic" >
															
														</div>
															
													</div>		
											</div>


											



											<table class="simple-little-table col-lg-7" cellspacing='0'>
													<tr>
														<th>Начинка для слоя </th>
														<th>Длина слоя(см)</th>
														<th>Удалить слой</th>
													</tr><!-- Table Header -->
												 
													<tr v-for="(layer, i) in layers">
															<td>
																
																	<select name="" id="" v-model="layers[i].type" id="inputState" class="form-control">
																		<option :value="key" 
																						v-for="(lt, key) in layersTypes"
																		>{{lt.label}}</option>
																		
																	</select>
																</td>
																<td>
																		<input type="text" class="form-control" v-model.number="layers[i].height" >{{correctHeight}}
																</td>
																<td>
																	</div>
														<button type="button" class="btn btn-danger" v-on:click="deleteLayer(i)" v-on:click = "setHeightLayer(i)" >
																				Удалить
																		</button>
																</td>
													</tr>
												 
													
												</table>

											<div class="row col-lg-12 d-flex justify-content-center">
												<div class="attention " v-show="layers.length >= maxAmountLayers">
														Максимальное количество слоев : {{ maxAmountLayers}}
													</div>
											</div>

													<div class="row col-lg-12">
													<div class="calculaterDownTabl col-lg-3">
															<div class="row col">
		
														<button class="btn btn-primary  addLayer" v-show="layers.length < maxAmountLayers" v-on:click="addLayer">
																Add layer
														</button>
														
		
																	
																	
																</div>
															</div>
														</div>

													</div>
										</div>
														
												
												

									<hr class="col" style="background-color: grey; height: 1px;">			
											
												
										</div>
										
										
										<div class="order col">
											<div class="row col">
												<div class="sweetness d-flex justify-content-lg-start justify-content-md-center col-lg-4" :style="{marginTop: marginTopForSweetness + 'px'}"><!---cake begin-->

											<!--
												<div class="cakeForm" :style="{borderRadius: radiusForm + '%'}">
													
												</div>-->
											<div class="row  ">


												<!-- <div class="formCake ">
													<div class="row  ">
															
															<div class="cakeFigure col-lg-6 col-md-12">
																<div class="cakeUp " :class="'cake-' + selectedForm">
																	
																</div>
															</div>

															<div class="formCakeTitle col-lg-4 text-left">
																	<div class="text">
																	Форма {{selectedProduct}}a
																	</div>
																</div>

													</div>
												</div> -->


												</div>
									</div><!---cake end-->
									<div class="order col-lg-7">
											<div class="price   col-lg-5 pull-right">
													Стоимость: {{price}} 
													
											</div>
											<a href="#feedBack"><button  v-on:click="toOrderCustom(price)" class="pay btn btn-warning"> Заказать</button></a>
									</div>		
										</div>
										</div>
										

									
									
								</div>
					
								
							
						
							</div  >
							
						</div>
	

		</section> 
		<!--Конец калькулятора-->

		<div class="beetttwenBlock">

		</div>
		
		
		<section id="feedBack" class="feedBack d-flex justify-content-center row">

				<div class="text-center col-lg-12">
						<h1 >
							ОФОРМИТЬ ЗАКАЗ
						</h1>
					</div>

			<div class="formFeedBack">	

					<form action="" class="postcard">
						<div class="cardFeedback row col">
						<div class="infoAboutClient col-lg-6">
								<div class="form-row">
									<label for="name">Ваше имя</label><input type="text" id="name" required>
								</div>
								<div class="form-row">
									<label for="email">Ваш Email</label><input type="email" id="email" required>
								</div>
								<div class="form-row">
										<label for="email">Ваш Номер телефона</label><input type="tel" id="email" required>
									</div>
								<div class="form-row">
									<label for="message">Ваше сообщение</label><textarea rows="3" id="message" required></textarea>
								</div>
								
							</div>
							<div class="infoAboutOrder col-lg-6">
									<div class="form-row">
											<label for="name" class="title">Информация о вашем заказе</label>
										</div>
										<div class="form-row">
												<label for="name" >Информация о вашем заказе</label>
											</div>
											
											<div class="form-row">
													<label for="name" >Название торта</label>
												</div>
												<h3 v-if="selectedProductOrder == 'Вы создали свой собственный торт!'">{{customNameTort}}</h3>

												<div class="nameTort" v-if="allPrice>0">
													{{selectedProductOrder}}
												</div>

												<div class="cake cakeInOrder" id="cake"  v-if="selectedProductOrder == 'Вы создали свой собственный торт!'">

														<!--<div class="cakeCirlce" :class="'cake-' + selectedForm"></div>-->
		
															<div class="layer" :class="'layer-' + layer.type" 
															:style="{height: layer.height*4 + 'px'}		
															" v-for="(layer, i) in layers"
															:title="layer.type">
		
															</div>
															<div class="layer-basic" >
																
															</div>
																
															

														</div>

														<div class="formTort" v-if="selectedProductOrder == 'Вы создали свой собственный торт!'">
															Форма вашего торта: <div class="cirlce" v-if="selectedForm=='circle'">Круг
																<div class="textFormTort">
																		*Диаметр вашего круглого торта - 25.
																</div>
															</div>
															<div class="cirlce" v-if="selectedForm=='squired'">Квадрат 
																<div class="textFormTort">*Ширина вашего квадратного торта - 20см</div>
															</div>
														</div>

														

												<div class="imgTort" v-if="photoOfCatalog == true">
														<img :src="imageSelectedProduct" alt="">
												</div>
										<div class="price">
												Стоимость: {{allPrice}} 
										</div>
							</div>
							<div class="col d-flex justify-content-center">
									<div class="form-row">
											<input type="submit" value="Сделать заказ">
										</div>
							</div>
						</div>	
						</form>

			</div>

		</section>


		
    <footer id="footer" class="footer">
				
			</footer>

		</div>
  <script src="js/vue2.js"></script>
	<script src="js/vue.js"></script>
	<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/6859/tween.min_1.js'></script>
	<script src="js/main.js"></script>
</body>
</html>
